/*Mixins*/
@mixin size($a, $b: $a) {
  width: $a;
  height: $b;
}

/*Colors ------------------------------------------*/
$black: #0c0d0f;
$black-blue: #0a1420;
$blue-dark: #02459c;
$blue: #378be5;
$blue-light: #47b8e0;
$gray: #262d35;
$gray-dark: #161616;
$gray-light: #607b8b;
$red: #c43a3a;
$red-light: #ff7473;
$yellow: #ffc952;
$white: #fff;

/* Media -------------------------------------------*/
$notebook-size:1341px;
$desktop-size:1241px;
$content-size: 1025px;
$tablet-size: 991px;
$phone-size: 769px;
$mobile-size: 481px;